<div class="container">
<%= form_for @punch, :url => {:controller => 'punchqueries', :action => 'create'} , html: {class: 'form-horizontal pd20 mg10'}, :method => 'POST' do |f| %>
    <div class="form-group">
      <%=f.label "Title:", class: 'col-sm-3 control-label' %>
      <div class="col-sm-6">
		<%= f.text_field :query, class: "form-control", :required => true, placeholder: 'Enter Title...'  %>
	  </div>
    </div>
    <div class="form-group">
      <%=f.label "Description:", class: 'col-sm-3 control-label' %>
      <div class="col-sm-6">
		<%=f.text_area :description, class: "form-control", :required => true, placeholder: 'Enter Description...'  %>
	  </div>
    </div>
    <div class="">
        <%= f.label " ", class: 'col-sm-3' %>
        <div><%= f.submit "Punch", class: 'col-sm-6 btn btn-primary' %></div>
      </div>
    <% end %>
</div>


<style type="text/css">
.punch {
	margin-top: 50px;
	background-color: #FFF790;
}
</style>