<!DOCTYPE html>
<html>
<head>
	<title>Monthly Club</title>
	<%= stylesheet_link_tag    'application' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render '/shared/header' %>
	 <center><font color="green"><p class="notice"><%= notice %></p></font>
       <font color="red"><p class="alert"><%= alert %></p></font></center>



	<%= yield %>
	<%= render '/shared/footer' %>
</body>
</html>
